<html>
    <style>
        p{
            font-size: 25px;
            text-align: center;
            color: #4682A9;
            font-family: Arial;
        }
    </style>
    <body>
        <%- include('partials/header.ejs') %>
        <p>About</p>
        <a href="/home">Home</a>
    </body>
</html>