<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body, html {
            background-color: #A1CCD1;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        
        h2{
        text-align: center;
        } 

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
        }

        label, input, button {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="password"] {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            padding: 10px;
            font-size: 16px;
            background-color: #4682A9;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #3d5a80;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form id="login-form" action="/login" method="post">
            <label for="username">Name:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email Address:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <% if(error) { %>
                <p style="color:red"><%= error %></p>
            <% } %>

            <button type="submit">Log In</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
</body>
</html>
